@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Marko+One&family=Marmelad');

:root {
    --heading-font: Marko One, Sans-Serif;
    --title-font: Oleo Script Swash Caps, Serif;
    --primary-font: Marmelad, Sans-Serif;

    --primary-color: rgb(0, 0, 0);
    --accent-color: rgb(0, 110, 100);
    --highlight-color: rgb(255, 122, 0);
    --warning-color: rgb(255, 0, 0);
    --inactive-color: lightgray;

    --primary-background: white;
    --accent-background: rgb(230, 240, 230);
    --highlight-background: rgb(240, 220, 200);
    --blank-background: lightgray;

    --border-radius: .5em;
    --shadow: 0px 0px 3px 1px var(--accent-color);
}

body {
    font-family: var(--primary-font);
	font-size: 16px;
    line-height: 1.5em;

    margin: 0 auto;
	max-width: 65rem;
    border: thin solid lightgrey;
	border-top: none;

}

a, svg, button {
    text-decoration: none;
    color: var(--highlight-color);
	cursor: pointer;
}

a:hover, svg:hover, button:hover {
	color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: normal;

	padding-top: 1em;
	margin: 0;
    color: var(--highlight);
	line-height: 1.5em;
}

p {
	margin-top: 0;
	margin-bottom: .5em;
}


h1 {
    font-size: xx-large;
    background-color: var(--accent);
    text-align: center;
}

h1 + p {
    text-align: center;
    background-color: var(--accent);
    padding-bottom: 1em;
}

h2 {
    font-size: x-large;
    border-bottom: thin solid lightgrey;
}
h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

h6 {
    font-size: x-small;
}

@media only screen and (max-width: 55rem) {
    body {
        font-size: 12px;
    }
}

@media print {
    body {
        font-size: 14px;
        border: none;
		column-count: 2;
    }

	h1, h2, h3 {
		break-after: avoid;
	}
}


blockquote {
    border-left: .5em solid var(--highlight);
    padding: 0 .5em;
	margin: 0;
    background-color: var(--accent);
}

pre,
code {
    font-family: 'JetBrains Mono', Monospace;
    font-size: 14px;
    background-color: var(--accent);
}

pre {
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    text-align: left;
    max-height: 30em;
    overflow: auto;
    display: block;
}

figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
img,
svg,
table {
    display: block;
    max-width: 100%;
    margin: auto;
}

table thead {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 0;
}

tbody th {
    position: sticky;
    left: 0;
    background-color: white;
    box-shadow: 1px 0 0;
}

tbody td {
    border-left: thin solid lightgrey;
}

table td,
table th {
    padding: 5px;
}

tbody tr:nth-child(even) {
    background-color: var(--accent);
}

ul ul, ul ol, ol ol, ol ul {
    font-size: calc(100% - 2px);
}

ul, ol {
	padding-left: 1.5em;
}

