/*:root {
    --heading-font: Marko One, Sans-Serif;
    --title-font: Oleo Script Swash Caps, Serif;
    --primary-font: Marmelad, Sans-Serif;

    --primary-color: rgb(0, 0, 0);
    --accent-color: rgb(255, 123, 0);
    --highlight-color: rgb(0, 123, 255);
    --warning-color: rgb(255, 0, 0);

    --background-color: white;
    --background-accent: rgb(200, 230, 255);
    --background-highlight: rgb(250, 240, 230);
    --background-blank: lightgray;

    --border-radius: .5em;
    --shadow: 0px 0px 3px 1px var(--accent-color);
}
*/

