@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Marko+One&family=Marmelad');

:root {
    --heading-font: Sans-Serif;
    --title-font: Serif;
    --primary-font: Sans-Serif;

    --primary-color: rgb(0, 0, 0);
    --accent-color: rgb(50, 80, 150);
    --highlight-color: rgb(255, 122, 0);
    --warning-color: rgb(255, 0, 0);
    --inactive-color: rgb(210, 210, 210);

    --inactive-background: rgb(245, 245, 245);
    --primary-background: white;
    --accent-background: rgb(220, 230, 250);
    --highlight-background: rgb(240, 230, 220);

    --border-radius: .5em;
    --big-shadow: 2px 2px 10px 2px var(--accent-color);
    --small-shadow: 0px 0px 3px 1px var(--highlight-color);

}
